body {
    background: #A79B91;
    margin: 0;
    font: 10pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
.buttons{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.buttons .btn{
	background-color: #333333;
	color: #ffffff;
	border-radius: 50%;
	outline: none;
	padding: 10px 16px;
	cursor: pointer;
}

.buttons .btn.active {
	background-color: #2aa3e8;
}

.buttons .btn:nth-child(2) {
	font-size: 1.5em;
}

.buttons .btn:nth-child(3) {
	font-size: 2em;
}

#header {
    background: url(../src/gif/headerbg.gif) no-repeat transparent top left;
    width: 673px;
    height: 277px;
    margin-left: 8px;
}

#wrap {
    width: 692px;
    margin-left: auto;
    margin-right: auto;
    background: url(../src/gif/bg.gif) #E5DFD6;
    border: 0;
}

#navcontainer {
    background: #5D4229;
    width: 673px;
    margin-top: -20px;
    margin-left: 8px;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    text-align: right;
}

#navlist li a {
    padding: 0.25em 0.5em 0.25em 0.75em;
    text-decoration: none;
}

#navlist li a:visited {
    color: #ACCBE2;
}

#navlist li a:hover {
    color: #A79B91;
}


h3 {
    font-size: 18px;
    font-weight: bold;
    color: #6190CB;
    letter-spacing: .5px;
    font-style: normal;
    text-align: right;
}

#content1 {
    width: 600px;
    margin-left: 30px;
    margin-right: auto;
    padding: 9px;
    text-align: justify;
    font: 8pt/14pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
    color: #333333;
    float: left;
    line-height: 30px;
    transition: 0.05s;

}
#footer {
    clear: both;
    width: 656px;
    margin-left: 8px;
    margin-right: auto;
    background: #5D4229;
    padding: 9px;
    text-align: right;
    text-transform: lowercase;
    font: 8pt/9pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
    color: #000000;
}

#footer a:link {
    color: #FFFFFF;
    text-decoration: none;
}

#footer a:hover {
    color: #A79B91;
}

#title {
    height: 30px;
    width: 653px;
    margin-left: auto;
    margin-right: 11px;
    background: #ACCBE2;
    text-align: left;
    padding-top: 6px;
    padding-left: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    color: #403139;
    text-transform: uppercase;
}